body {
    margin: 0;
    background-color: #303030;
}

* {
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 20px;
    background-color: #646464;
}

#header .title {
    margin-left: 5px;
    margin-top: 1px;
    height: 20px;
    color: white;
    font-family: sans-serif;
    float: left;
    font-size: 12px;
}

#main{
    background-color: #F2F2F2;
}
