<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>characteristic analyse</title>
    <script type="text/javascript" src="../static/lib/d3/d3.js"></script>
    <script type="text/javascript" src="../static/lib/jquery/jquery-3.1.1.min.js"></script>
    <script src='https://cdn.bootcss.com/echarts/3.7.0/echarts.simple.js'></script>
    <script src='../static/lib/d3/echarts-wordcloud-master/dist/echarts-wordcloud.js'></script>
</head>
<body>
<link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="../static/css/feature_all_view.css">
 <div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h1 class="text-center">
                Report
            </h1>
            <div class="row clearfix">

                <div class="col-md-8 column">
                    <div class="row clearfix">
                        <div class="col-md-12 column" id="wordcloud">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12 column" id="daytime">
                        </div>
                    </div>
                </div>

                <div class="col-md-4 column">

                    <div class="col-md-12 column" id="report">

                        <h3 class="text-center">
                            兴趣爱好
                        </h3>
                        <p id = "Wreport"></p>
                        <br>
                        <h3 class="text-center">
                            生活作息
                        </h3>
                        <p id = "Treport"></p>
                        <br>
                        <h3 class="text-center">
                            熬夜情况
                        </h3>
                        <p id = "Creport"></p>

                    </div>

                </div>

            </div>
            <div class="row clearfix">
                <div class="col-md-12 column" id="Staynight">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../static/js/feature_data_init.js"></script>
<script type="text/javascript" src="../static/js/words_cloud.js"></script>
<script type="text/javascript" src="../static/js/feature_pie.js"></script>
<script type="text/javascript" src="../static/js/calender.js"></script>
</body>
</html>