<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D3 History Project</title>

    <script type="text/javascript" src="../static/lib/d3/d3.js"></script>
    <script type="text/javascript" src="../static/lib/jquery/jquery-3.1.1.min.js"></script>

</head>

<div id="header">
    <span class="title">历史数据可视分析系统</span>
</div>

  <div id="main">
      <div id="brush_view"></div>
      <div id="pie_view"></div>
      <div id="radar_view"></div>
      <div id="bar_view"></div>
  </div>

<link rel="stylesheet" href="../static/css/all_view.css">
<link rel="stylesheet" href="../static/css/pie_view.css">
<link rel="stylesheet" href="../static/css/radar_view.css">
<link rel="stylesheet" href="../static/css/bar_view.css">
<link rel="stylesheet" href="../static/css/brush_view.css">
<script type="text/javascript" src="../static/js/init_data.js"></script>
<script type="text/javascript" src="../static/js/time_line.js"></script>
<script type="text/javascript" src="../static/js/transmit_data.js"></script>
<script type="text/javascript" src="../static/js/pie_chart.js"></script>
<script type="text/javascript" src="../static/js/radar_chart.js"></script>
<script type="text/javascript" src="../static/js/bar_chart.js"></script>

</html>