<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D3 History Project</title>

    <script type="text/javascript" src="../static/lib/d3/d3.min.js"></script>
    <script type="text/javascript" src="../static/lib/jquery/jquery-3.1.1.min.js"></script>

</head>

<div id="header">
    <span class="title">历史数据可视分析系统</span>
    <span class="time"></span>
</div>

  <div id="main"></div>

<link rel="stylesheet" href="../static/css/all_view.css">
<script type="text/javascript" src="../static/js/main_view.js"></script>

</html>